<div class="wrapper wrapper_padding clearfix">
      <div class="col-1 about homepage_content">
        <h2>About</h2>
        <hr>
        <p>I'm a designer &amp; developer based on Brazil. I have a passion for dessign and technology.</p>
        <p>Actualy by day I work as a consultant for the TOTVS company. At night I develop web applications with Ruby on Rails and do some design stuff.</p>
        <p>On my blog a teach some useful tips and tricks about design and web development.</p>
      </div>
      <div class="col-2 homepage_content">
        <h2>Stuffs I've written</h2>
        <hr>
        <% @posts.take(3).each do |post| %>
          <h3 class="post"><%= link_to post.title, post_path(post.id)%></h3>
          <p class:"date"><%= post.created_at.strftime("%d %b %Y") %></p>
        <% end %>
      </div>
      <div class="col-3 homepage_content">
        <h2>Stuffs I've built</h2>
        <hr>
        <h3>My note app</h3>
        <p class="date">Friday Apreil 10th</p>
        <h3>Tellme app</h3>
        <p class="date">Friday Apreil 10th</p>
        <h3>Some another app</h3>
        <p class="date">Friday Apreil 10th</p>
      </div>
</div>
