%h1#page_title Stuffs I've writing

- @posts.each do |post|
	#post_wrapper.skinny_wrapper
		.post
			%p.date= post.created_at.strftime("%d %b %Y")
			%h2= link_to post.title, post_path(post.id)
			%hr


= will_paginate @posts


= link_to "Create a Post", new_post_path, class: "button"