#post_show_content.skinny_wrapper.wrapper_padding
	%header
		%p.date= @post.created_at.strftime("%d %b %Y")
		%h1= @post.title
		%hr/
	#content
		= markdown(@post.content).html_safe
		%hr/
		%br/
		%br/
	#share_box
		%p= "Share the: #{@post.title}" 
		
		.twitter
			%a.twitter-share-button.left{"data-count" => "horizontal", "data-via" => "ffwdesign", :href => "http://twitter.com/share"} Tweet
			%script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}

	%hr
	= render 'comments'

    


= link_to "Back", posts_path