$dark-brown: #948c79;
$light-brown: #e1dbcd;
$white: #f8f9fa;
$dark-blue: #697693;
$light-blue: #ccd2e0;


#post_wrapper {
	padding: 3em 0;
	.post {
		text-align: center;
		.date {
			font-size: .9em;
			margin: 0;
		}
		h2 {
			margin: 0;
			font-size: 2em;
			text-transform: uppercase;
		}
		a {
			text-decoration: none;
			color: $dark-blue;
			&:hover {
				color: $light-blue;
			}
		}
		hr {
		margin: 3em 0;
		}
	}
}

//-------------Post show ---------------------

#post_show_content {
	header {
		text-align: center;
		.date {
			font-size: .9em;
			color: $light-blue;
			margin: 0;
		}
		h1 {
			margin: 0;
		}
		hr {
			margin: 2em 0;
		}
	}
}

#share_box {
	text-align: center;
	p {
		padding: 0 0 1em 0;
		margin: 0;
		font-weight: 700;
		text-transform: uppercase;
		color: $dark-blue;
		font-size: .8em;
	}
	i {
		color: $dark-blue;
		padding: 1em 1.5em;
		&:hover {
			color: $light-blue;
			cursor: pointer;
		}
	}
	.twitter {
		color: $dark-blue;
		padding: 1em 1.5em;
		&:hover {
			color: $light-blue;
			cursor: pointer;
		}
	}
}




//------------- Pagination-------------------

.pagination:before,
.pagination:after {
	content: " ";
	display: table;
}

.pagination:after {
	clear: both;
}

.pagination {
	text-align: center;
	margin: 0 0 3em 0 ;
	a, .previous_page, .current, .next_page {
		padding: .75em 1em;
		margin: 0 .25em;
		border-radius: .15em;
		text-decoration: none;
		line-height: 20px;
		background-color: white;
		font-weight: 700;
		font-size: .7em;
		color: $dark-blue;
		&:hover {
			background: $light-blue;
			color: $white;
		}
	}
	.current {
		background: $light-blue;
		color: $white;
	}
}

