$dark-brown: #948c79;
$light-brown: #e1dbcd;
$white: #f8f9fa;
$dark-blue: #697693;
$light-blue: #ccd2e0;

.col-1, .col-2, .col-3 {
	float: left;
}

.col-1 {
	width: 45%;
	padding: 0 5% 0 2.5%; 
}

.col-2, .col-3{
	width: 27.5%;
	padding: 0 2.5%;
	h3 {
		a {
			text-decoration: none;
			color: $dark-blue;
			&:hover {
				color: $light-blue;
			}
		}
	}
	.date {
		font-size: .8em;
		margin-bottom: 2em;
	}
}

.homepage_content {
	h2 {
		font-size: 1.1rem;
		text-transform: uppercase;
	}
	hr {
		width: 3em;
		display: block;
		height: 2px;
		border: 0;
		border-top: 2px solid $light-blue;
		margin: 2rem 0;
	}
	h3 {
		font-size: 1.35em;
		font-weight: 400;
		margin-bottom: .5em;
	}

	.date {
		font-size: .8em;
		margin-bottom: 2em;
	}

	p {
		margin: 0 0 .75em 0;
	}
}

.about {
	padding: 0 7.5% 0 0;
}