/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';

$dark-brown: #948c79;
$light-brown: #e1dbcd;
$white: #f8f9fa;
$dark-blue: #697693;
$light-blue: #ccd2e0;

* {
	box-sizing: border-box;
}

html {
	position: relative;
    min-height: 100%;
}

body {
	
	background-color: $white;
	font-family: 'Libre Baskerville', serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
	color: $dark-blue;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.375rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p, li {
	font-size: 1.1rem;
	line-height: 1.75;
}

p, ul, ol {
	margin: 0 0 1.6em 0;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.skinny_wrapper {
	width: 80%;
	max-width: 760px;
	margin: 0 auto;
}

.wrapper_padding {
	padding: 4rem 0;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button {
	margin: 10px;
	margin-left: 120px;
	margin-bottom: 80px;
	padding: 7px 10px;
	border: solid 1px $dark-blue;
	background-color: $white;
	text-decoration: none;

}

#main_navigation {
	background-color: $light-brown;
 	padding: 2.5em 5%;
  	border-bottom: 1px solid $dark-blue;
  .name {
  	background-color: $white;
    font-weight: 700;
    font-size: .9em;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 2px solid $dark-blue;
    text-decoration: none;
    padding: 7px 10px;
    float: left;
    color: $dark-blue;
  }
  nav {
  	float: right;
  	padding-top: .6rem;
  	a {
  		text-decoration: none;
		color: $dark-blue;
		margin: 0 1rem;
		font-size: 1rem;
  	}
  }
}

#page_title {
	text-align: center;
	border-bottom: 1px solid $dark-blue;
	padding: 3em 0;
	font-size: 1rem;
	text-transform: uppercase;
}

.my-footer {
	padding: 2.5em 5%;
	border-top: 1px solid $dark-blue;
	background-color: $light-brown;
	#main-footer {
		.copyright {
			float: left;
			font-size: .9em;
			margin: 0;
		}
		nav {
			float: right;
			i {
				color: $dark-blue;
				margin-left: 1.2em;
				padding-top: .2em;
			}
		}
	}
}



input[type="text"], 
input[type="email"], 
input[type="password"], 
textarea {
	width: 100%;
	max-width: 100%;
	height: 3em;
	border: 2px solid $dark-blue;
	padding: 1em;
	margin: .5em 0 2em 0;
}

textarea {
	min-height: 20em;
}

input[type="submit"], buttom {
	outline: none;
	background: transparent;
	border: 2px solid $dark-blue;
	text-align: center;
	font-size: 1em;
	color: $dark-blue;
	text-decoration: none;
	padding: 1em 2em;
	&:hover {
		border-color: $light-blue;
		color: $light-blue;
	}
}

@import 'welcome';
@import 'post_projects';
@import 'pygments';
