<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link href='//fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
      <%= link_to "Eduardo Martins", root_path, class: "name" %>
      
      <nav>
      	<%= link_to "My Blog", posts_path %>
        <a href="#">My projects</a>
        <a href="contact.html">Contact me</a>
      </nav>
    </header>


	<%= yield %>

<br>

<footer class="my-footer">
	<div id="main-footer">
	   <p class="copyright">&copy; 2016 Eduardo Martins</p>
	   <nav>
	     <a href="#"><i class="fa fa-twitter"></i></a>
	     <a href="#"><i class="fa fa-bitbucket"></i></a>
	     <a href="#"><i class="fa fa-github"></i></a>
	   </nav>
	 </div>
</footer>


</body>
</html>
